/* shared styles */
* {
  margin: 0;
  padding: 0;
}
.btn-primary {
  padding: 16px 35px;
  border-radius: 8px;
  background: #f00;
  border: 0;
  color: white;
}
/* shared styles */

/* header section styles */
.banner-section {
  max-width: 1140px;
  margin: 40px auto 0;
  border-radius: 16px;
  background-image: url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-content {
  padding: 150px 240px;
  border-radius: 16px;
  text-align: center;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.banner-intro {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 5px;
}
.banner-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-top: 0;
}
/* header section styles */

/* main section styles */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* category section styles */

.category-container {
  margin-top: 120px;
  text-align: center;
}
.category-container > h1 {
  color: #f00;
  font-family: Inter;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 40px;
}
.category-deal {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.category-title {
  color: #070211;
  font-family: Inter;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 40px;
}
/* category section styles */

/* midnight party styles */
.midnight-party {
  margin-top: 120px;
  background-image: url(../resources/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}
.midnight-party-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  padding: 50px 120px;
  gap: 10px;
  border-radius: 16px;
}
.midnight-party-content {
  width: 500px;
  margin-top: 40px;
}
.midnight-party-container > img {
  width: 250px;
}
.midnight-party-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 10px;
}
.midnight-party-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* midnight party styles */

/* party-location styles */
.party-location {
  margin-top: 120px;
}
.party-location-container {
  padding: 80px 250px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
}
.party-place {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  margin: 0;
}
.party-place > span {
  color: #f00;
}
.party-date {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  margin: 0;
}
.party-date > span {
  color: #f00;
}
.party-time {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  margin: 0 0 20px 0;
}
.party-time > span {
  color: #f00;
}
/* party-location styles */

/* coming soon offer styles */

.coming-soon-container {
  margin: 120px 0;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.coming-soon-offer {
  width: 500px;
  margin-top: 80px;
}
.coming-soon-offer > h4 {
  color: #f00;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
}
.offer-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-top: 10px;
}
.offer-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-weight: 400;
  margin-top: 10px;
}
.coming-soon-pic {
  border: 10px solid #f00;
  border-radius: 100%;
  padding: 20px;
}
.coming-soon-pic img {
  width: 320px;
  height: 320px;
}
.coming-soon-2024 {
  width: 500px;
  margin-top: 80px;
}
.coming-soon-2024 > h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.coming-soon-2024-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-weight: 400;
}
.coming-soon-2024 > img {
  margin-top: 20px;
}

/* coming soon offer styles */

/* discount offer styles */

.discount-offer {
  margin: 150px 0;
}
.discount-offer-content {
  padding: 0 40px;
  text-align: center;
}
.discount-offer-content > h4 {
  color: #070211;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
}
.discount-offer-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 20px;
}
.discount-offer-title > span {
  color: #f00;
}
.discount-offer-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  margin-bottom: 20px;
}
.image-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discount-imgs > img{
  width: 100%;
}
.first-img{
  width: 450px;
  position: relative;
  top: 180px;
  left: 50px;
}
.second-img{
  position: relative;
  right: -9%;
  z-index: 1;
}
.third-img{
  position: relative;
  right: 4%;
}
/* discount offer styles */

/* portfolio styles */
.portfolio {
  margin: 120px 0;
}
.portfolio-content {
  width: 600px;
  margin-bottom: 30px;
}
.portfolio-content > h4 {
  color: #f00;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}
.portfolio-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin: 5px 0;
}
.portfolio-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-weight: 400;
}
.img-row > img {
  width: 370px;
  opacity: 1;
}
.img-row > img:hover{
  opacity: 0.4;
  cursor: pointer;
}
.img-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}

/* portfolio styles */

/* subscribe section styles */
.subscribe {
  background-color: #faebd7;
  padding: 70px 210px;
  margin-top: 120px;
  text-align: center;
  border-radius: 16px;
}
.subscribe-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin: 20px 0;
}
.subscribe-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-weight: 400;
  margin-bottom: 20px;
}
.subscribe-field {
  width: 575px;
  margin-top: 20px;
}
.subscribe-field > input {
  padding: 12px 40px;
  border: 0;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.subscribe-btn {
  padding: 12px 40px;
  border: 0;
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ff0000;
  color: white;
}

/* subscribe section styles */

/* main section styles */

/* footer section styles */
footer {
  background: #070211;
  color: white;
  padding: 120px 140px;
  margin-top: 120px;
 
}
.footer-container{
  max-width: 1140px;
  margin: 0 auto;
}
.footer-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.contacts {
  padding-right: 50px;
}
.contacts > p > i {
  margin-right: 3px;
  margin-bottom: 8px;
}
.address {
  width: 300px;
}
.footer-icons {
  margin: 20px 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.copyright-content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* footer section styles */
